<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head')%>

  <body>
    <%-include('./partials/header')%>

    <main class="formulario-registro">
      <form class="formularios" action="/user/register" method="post">
        <div>
          <input
            class="text-field"
            type="text"
            placeholder="Nombre y apellido"
            name="nombre completo"
            id="name"
          />
        </div>
        <div>
          <input
            class="text-field"
            type="text"
            placeholder="Nombre De Usuario"
            value="<%= locals.oldData ? oldData.usuario : null %>"
            name="usuario"
            id="surname"
          />
          <% if(locals.errors && errors.usuario) { %>
          <p><%= errors.usuario.msg %></p>
          <% } %>
        </div>
        <div>
          <label for="nacimiento">Fecha de Nacimiento</label>
          <input type="date" name="nacimiento" id="nacimiento" />
        </div>
        <div>
          <input
            class="text-field"
            type="email"
            placeholder="Email"
            name="email"
            id=""
          />
        </div>

        <div>
          <input
            class="text-field"
            type="text"
            placeholder="Domicilio"
            name="domicilio"
            id=""
          />
        </div>
        <h3>Tipo de perfil</h3>
        <div class="perfil">
          <div>
            <input type="radio" name="perfil" id="vendedor" value="Vendedor" />
            <label for="vendedor">Vendedor</label>
          </div>
          <div>
            <input
              type="radio"
              name="perfil"
              id="comprador"
              value="Comprador"
            />
            <label for="comprador">Comprador</label>
          </div>
        </div>
        <h3>Intereses</h3>
        <div class="selecciones">
          <div>
            <input type="checkbox" name="interes" value="Electro" id="moda" />
            <label for="electro">Electro</label>
          </div>
          <div>
            <input type="checkbox" name="interes" value="Moda" id="moda" />
            <label for="moda">Moda</label>
          </div>
          <div>
            <input type="checkbox" name="interes" value="Hogar" id="hogar" />
            <label for="hogar">Hogar</label>
          </div>
          <div>
            <input
              type="checkbox"
              name="interes"
              value="jugueteria"
              id="jugueteria"
            />
            <label for="jugueteria">jugueteria</label>
          </div>
          <div>
            <input
              type="checkbox"
              name="interes"
              value="Vida Sana"
              id="vida sana"
            />
            <label for="vida sana">Vida Sana</label>
          </div>
        </div>
        <div>
          <label for="fotoPerfil">Foto de usuario</label>
          <input type="file" name="Fotoperfil" id="fotoPerfil" />
        </div>
        <div>
          <input
            class="text-field"
            type="password"
            placeholder="Password"
            value="<%= locals.oldData ? oldData.password : null %>"
            name="password"
            id="password"
          />

          <% if(locals.errors && errors.password) { %>
          <p><%= errors.password.msg %></p>
          <% } %>
        </div>
        <div>
          <input
            class="text-field"
            type="password"
            placeholder="PasswordConfirm"
            name="PasswordConfirm"
            id="PasswordConfirm"
          />
        </div>
        <button class="botonForm botonSubmit" type="submit">Enviar</button>
        <button class="botonForm botonReset" type="reset">Cancelar</button>
      </form>
    </main>

    <%-include('./partials/footer')%>
  </body>
</html>
